<header>
    <div class="header-main">
        <div class="header-left">
            <img class="logo-header" src="/assets/images/logo.png" alt="logo" srcset="">
            <h3>OSMAR gruas 24 horas</h3>
        </div>
        <div class="header-right">
            <div class="header-right-content">
                <img src="/assets/icons/phone.png" alt="">
                <div class="mt-1">
                    <div class="phone">(+57) 310 409 7046</div>
                    <div class="phone">(+57) 310 409 7046</div>
                </div>
                <img class="email" src="/assets/icons/mail.png" alt="">
                <div class="mt-1">
                    <div class="phone">correo&#64;email.com</div>
                </div>
            </div>
        </div>
    </div>
</header>